NODE_ENV=development
PORT=3000
APP_URL=http://localhost:3000

DB_DIALECT=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=frontend_users_db
DB_USER=root
DB_PASSWORD=123456
SQLITE_STORAGE=./storage/database.sqlite

JWT_SECRET=super_secret_change_me
JWT_EXPIRES_IN=2h
BCRYPT_SALT_ROUNDS=10
